<h1 class="text-[25px] font-bold text-center">Thông tin sản phẩm</h1>
<div class="shadow-sm shadow-black transform hover:scale-[0.97] transition ease-in-out duration-500 ">
  <div class="h-45 overflow-hidden">
       <img  src="{{product.image}}" class="w-auto" alt="" srcset="">
  </div>
  <h3 class="font-bold text-xl">{{product.name}}</h3>
  <span class="font-medium ">{{product.price}}</span>
  <span class="block">{{product.description}}</span>
  <button class=" px-5 py-2 flex justify-center items-center mx-auto border-2 p-3 text-sm hover:bg-gray-500  transition ease-in-out duration-500" (click)="onHidden()">Ẩn</button>
</div>

