<!-- <div class="container mx-auto max-w-4xl">
  <div class="grid grid-cols-3 gap-8 *:shadow *:border *:rounded">
      <div>
         <img src="{{product.image}}" alt="{{product.name}}">
         <h3>{{product.name}}</h3>
         <p>{{product.price}}</p>
         <p>{{product.description}}</p>
         <button (click) = 'changeName()'>Change Name</button>
         <input type="text" (input)="changePrice($event)">
         <input type="text" [(ngModel)]="product.name">
      </div>
  </div>
</div> -->

<!-- List sản phẩm -->
<!-- <div class="container">
  <div class="flex justify-center ">
    <h1 class="text-3xl py-3">Feed Food</h1>
  </div>
  <div class="mx-20 grid grid-cols-4 gap-4">
    <div *ngFor="let product of products" class="shadow-sm shadow-black transform hover:scale-95 transition ease-in-out duration-500 ">
      <div class="h-45 overflow-hidden">
           <img src="{{product.image}}" class="w-auto" alt="" srcset="">
      </div>
      <h3 class="font-bold text-xl">{{product.name}}</h3>
      <span class="font-medium ">{{product.price}}</span>
      <span class="block">{{product.description}}</span>
      <button (click)= "remove(product.id)" class=" border-2 p-3 text-sm hover:bg-gray-500">Xóa</button>
    </div>

  </div>
</div> -->

<!-- Table -->
<hr />
<div *ngIf="checkFormAdd">
  <app-form-add (newProduct)="getProduct($event)" (close)="getCloseForm($event)"></app-form-add>
</div>
<div class="max-w-4xl mx-auto">
  <button class="border my-5 px-5 py-1 rounded-sm shadow-sm shadow-gray-700 hover:bg-gray-700 transition ease-in-out duration-500" (click)="onOpenForm()">Thêm sản phẩm</button>
    <div class="grid grid-cols-12 gap-8">

        <table class="text-center items-center" [ngClass]="checkDetail?'col-span-8' :'col-span-12'">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên</th>
                    <th>Ảnh</th>
                    <th>Giá</th>
                    <th>Danh mục</th>
                    <th></th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let product of products; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ product.name }}</td>
                    <td>
                      <img class="w-40 mx-auto" src="{{product.image}}" alt="">
                    </td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td>
                      <button class="border rounded text-sm shadow-sm shadow-gray-700" (click)="onRemove(i)">delete</button>
                      <button class="border rounded text-sm shadow-sm shadow-gray-700 ml-5" (click)="onView(product)">info</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="checkDetail && productDetail" class="col-span-4">
            <app-product-detail [product]="productDetail" (newHidden)="getHidden($event)" ></app-product-detail>
        </div>
    </div>


